body {
  background: rgb(250, 246, 227);
  margin: 0 0 0 0;
}

.avatar {
  padding: 15px 10px 10px 10px;
  width: 400px;
  border-radius: 270px;
  margin: 20px 0 0 70px;
}

.image-projects {
  padding: 15px 10px 10px 10px;
  width: 400px;
  margin: 20px 0 0 30px;
  border-radius: 25px;
  border: 1px solid rgb(98, 98, 98);
}

.name {
  font-size: 30px;
  font-family: "Comfortaa", cursive;
}

.content {
  padding: 130px 0 0 90px;
  font-family: "Comfortaa", cursive;
}
.btn-branding {
  background-color: rgba(122, 159, 74, 0.798);
  color: rgb(253, 253, 253);
  border: 1px solid rgb(98, 98, 98);
  border-radius: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}

@media (max-width: 520px) {
  .about-section {
    padding: 10px 0 0 90px;
  }
  .name {
    padding: 70px 0 0 0;
  }

  .avatar .image-projects {
    margin: 10px 0 0 0;
  }
}
h1 {
  color: black;
}

h4 {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

p {
  text-align: center;
}

.h1-contact {
  text-align: center;
}
