.info {
  background: rgb(251, 207, 215);
  margin: 0 0 0 0;
}

.avatar {
  padding: 10px 10px 10px 10px;
  width: 400px;
  border-radius: 200px;
  margin: 20px 0 0 70px;
}

.name {
  font-size: 30px;

  font-family: "Comfortaa", cursive;
}

.about-section {
  padding: 130px 0 0 90px;
}
.navbar-heading {
  margin: 0 0 0 145px;
}

.btn-branding {
  background-color: rgba(244, 240, 240, 0.798);
  color: rgb(1, 1, 1);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
}

@media (max-width: 520px) {
  .about-section {
    padding: 150px 0 0 90px;
  }

  .avatar {
    margin: 10px 0 0 0;
  }
}
